<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="/static/js/jquery-3.3.1.min.js"></script>
	<script src="/static/js/webtest.js"></script>
	<style>
		.sekuai {
			background-color: red;
			width: 100px;
			height: 100px;
			margin: 10px;
			display: inline-block;
			transform: rotate(30deg);
			border: 2px solid blue;
			border-radius: 20px;
			box-shadow: 40px 20px 10px greenyellow;
		}
		
	</style>
</head>
<body>
	<h1>我是标题1</h1>
	<div style="height: 300px">
	<div class="sekuai"></div>
	<div class="sekuai"></div>
	<div class="sekuai"></div>
	<div class="sekuai"></div>
	<div class="sekuai"></div>
	<div class="sekuai"></div>
	</div>
	<p id="word">我是一段话</p>
	<button id="btn1">随机颜色</button>
	<button id="btn2">色块隐藏/显示</button>
	<button id="btn3">Ajax测试</button>
</body>
</html>